// 顏色
$primary: #266ef1;
$secondary: #53bc03;
$white :#fff;
$dark:#262626;


//文字
$font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;
$font:16px;
$font-t: $font * 1.25;